:root{
  --bg-color: #2a3a48;
  --accent-1: #ff6900;
  --accent-2: #3e6372;
  --accent-3: #b2d4dc;


  --text-color: #f5efde;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);

}
h3 {
  color: var(--accent-1);
}
h4 {
  color: var(--accent-3);
}
a{
  color: var(--accent-2);
  text-decoration: none;
}
a:hover{
	color: var(--accent-3);
}
nav{
  text-align: center;
  vertical-align: middle;
  height: 10%;
  background-color: var(--accent-3);
}
nav #active{
  color: var(--accent-1);
	border-bottom-color: var(--accent-2);
	border-bottom-width: .15em;
	border-bottom-style: solid;
}
nav li{
	display: inline;
	text-transform: uppercase;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid var(--accent-2);
}
