:root{
  --bg-color: #000013;
  --light-text-color: #F5F5d0;
  --accent-color: #ef5532;
  --bold-font: "Roboto Condensed", sans-serif;
  --content-font: 'Lato', sans-serif;
}

body{
  background-color: var(--bg-color);
  color: var(--light-color);
  	font-family: var(--content-font);
}
a{
  color: var(--accent-color);
  text-decoration: none;
}
/*HEADER*/
header{
  max-width: 850px;
	text-align: center;
	font-family: var(--content-font);
	font-weight: 400;
	display: inline;
}
header nav #active{
  font-weight: bold;
	border-bottom-color: var(--accent-color);
	border-bottom-width: .24px;
	border-bottom-style: solid;
}
header a{
  color: var(--light-text-color);
  font-family: var(--bold-font);
	text-decoration: none;
	color: var(--accent-color);
}
header nav a:hover{
	color: var(--light-text-color);
  font-weight: bold;
}
header nav li{
	display: inline;
	padding-right: 32px;
	padding-left: 32px;
	text-transform: uppercase;
	font-size: 32px;
}
header h1{
  font-family: var(--bold-font);
  color: var(--light-text-color);
  font-size: 120px;
  margin-bottom: 0px;
}
header #motto{
  text-align: right;
	max-width: 398px;
	text-transform: lowercase;
  margin: auto;
  padding-right: 50px;
  margin-top: -10px;
  font-size: 32px;
}
/* BODY */
.wrapper{
  max-width: 850px;
  color: var(--light-text-color);
  margin: auto;
}
section h3{
  color: var(--accent-color);
  font-family: var(--bold-font);
}
section p{
  font-size: 18px;
  font-family: var(--content-font);
}
.wrapper #UC{
  color: var(--light-text-color);
}
.unblock{
  list-style: none;;
}
.Contact a{
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
}
.wrapper h4{
  margin-bottom: 1px;
  font-family: var(--bold-font);
}
